<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Sucursales</ion-title>
  <ion-buttons slot="end">
    <ion-label style="cursor:pointer;" (click)="cerrarSesion();">
      Cerrar Sesión
    </ion-label>
    <ion-button (click)="cerrarSesion();">
      <ion-icon class="icono-deseleccionado" slot="icon-only" name="power"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-mitades">
    <div class="parte-izquierda">
      <ion-item class="item-sucursal" *ngFor = "let s of sucursales" (click)="seleccionarSucursal(s);">
        <ion-avatar>
          <img class="imagen-sucursal" src="https://image.flaticon.com/icons/svg/770/770080.svg">
        </ion-avatar>
        <ion-label>
          <h2>{{s.titulo}}</h2>
          <p>{{s.codigo}}</p>
        </ion-label>
      </ion-item>
      <div class="separador-final">
      </div>
    </div>

    <div class="parte-derecha escritorio" *ngIf="!banderaSucursal">
      <div>
        <div class="contenedor-imagen">
          <img src="./assets/icon/caja.svg" class="">
        </div>

        <div class="contenedor-titulos">
          <h1 class="titulo-texto">No has seleccionado ninguna sucursal por el momento</h1>
        </div>
      </div>
    </div>

    <div class="parte-derecha" *ngIf="banderaSucursal">
      <div class="celular">
        <ion-buttons>
          <ion-button (click)="cerrarSucursal();">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div *ngIf="sucursal.titulo">
        <div class="contenedor-imagen">
          <img src="./assets/icon/sucursal.svg" class="">
        </div>

        <div class="contenedor-titulos">
          <h1 class="titulo-texto">{{sucursal.titulo}}</h1>
          <h1 class="subtitulo-texto">{{sucursal.codigo}}</h1>
        </div>

        <div class="contenedor-boton">
          <ion-button class="boton-ingreso" (click)="abrirSucursal();">Ingresar a la sucursal</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
