<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--
      <ion-button>
        <ion-icon slot="icon-only" name="pricetag"></ion-icon>
      </ion-button>
      -->
      <ion-button class="escritorio" (click)="activarMenu();" *ngIf="banderaMenu==true"><!-- (click)="cerrarModal()" -->
        <ion-icon class="icono-deseleccionado" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button class="escritorio" (click)="activarMenu();" *ngIf="banderaMenu==false"><!-- (click)="cerrarModal()" -->
        <ion-icon class="icono-seleccionado" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div id="barra" class="barra-buscar" [ngClass]="{'barraLarga': banderaGrande}">
      <ion-input  #buscarInput placeholder="Buscar" (keyup)="filtrarListaProductos();" [(ngModel)]="buscar" (ionFocus)="cambiarBarra();" (ionBlur)="cambiarBarra();"></ion-input>
      <ion-buttons class="boton-lupa">
        <ion-button (click)="activarCarrito();"><!-- (click)="cerrarModal()" -->
          <ion-icon class="icono-deseleccionado" slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button style="--color:white;"></ion-menu-button>
      </ion-buttons>
    </ion-buttons>
<!--
    <ion-buttons slot="end">
      <ion-button (click)="activarCategorias();" *ngIf="banderaCategoria">
        <ion-icon class="icono-seleccionado" slot="icon-only" name="options"></ion-icon>
      </ion-button>
      <ion-button (click)="activarCategorias();" *ngIf="!banderaCategoria"><
        <ion-icon class="icono-deseleccionado" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
    <ion-buttons slot="end">
      <ion-button (click)="activarCarrito();" *ngIf="banderaBarra==true"><!-- (click)="cerrarModal()" -->
        <ion-icon class="icono-deseleccionado" slot="icon-only" name="receipt"></ion-icon>
      </ion-button>
      <ion-button (click)="activarCarrito();" *ngIf="banderaBarra==false"><!-- (click)="cerrarModal()" -->
        <ion-icon class="icono-seleccionado" slot="icon-only" name="receipt"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <div class="contenedor">
    <div class="contenedor-principal" *ngIf="banderaPrincipal==true">
      <div class="cursos">
        <div class="containerCard" *ngFor="let p of productosFiltrados"><!-- (click)="abrirDetalle(r)" -->
          <div class="card" (click)="abrirDetalle(p);">
            <h1 style="color:#fa949d">{{p.titulo}}</h1>
            <img class="imagen" src="https://image.flaticon.com/icons/svg/609/609446.svg">
            <h1 style="color:#fa949d">${{p.venta| number}}</h1>
          </div>
        </div>
      </div>
      <!-- falta su div loco con padding, para empujar la lista de cards y que se vean todas cuando sea una cantidad elevada -->
    </div>

    <div class="contenedor-principal" *ngIf="banderaPrincipal==false">
      <div style="margin-top:2%; margin-left:2%;">
        <ion-buttons>
          <ion-button (click)="cerrarDetalle()"><!-- (click)="cerrarModal()" -->
            <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>

      <div class="contenedor-textos-titulos">
        <h1 class="titulo-producto">{{producto.titulo}}</h1>
        <h1 class="precio-producto">${{producto.venta| number}}</h1>
      </div>
      <div class="contenedor-textos-titulos">
        <p class="codigo-producto">Codigo: {{producto.codigo}}</p>
        <div class="contenedor-estrellas">
          <p class="codigo-producto"></p>
        </div>
      </div>

      <div class="card-producto">
        <div class="contenedor-imagen-producto">
          <img class="imagen-producto" src="../assets/icon/pingu.svg">
        </div>
      </div>
      <p class="descripcion-producto">Descripción:<br><br>{{producto.descripcion}}</p>

      <p class="descripcion-cantidad">Cantidad<br><br>{{producto.cantidad| number}} unidades disponibles</p>

      <div class="selector">
          <ion-buttons>
            <ion-button class="boton-izquierdo" (click)="restarProducto()">
              <ion-icon class="icono-boton" name="remove" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-label class="numero-actual" (click)="verInput = true" *ngIf="!verInput">{{selector.numeroActual}}</ion-label>
          <ion-label class="numero-actual" *ngIf="verInput"><ion-input [(ngModel)]="selector.numeroActual"></ion-input></ion-label>

          <ion-buttons>
            <ion-button class="boton-derecho" (click)="sumarProducto()">
              <ion-icon class="icono-boton" name="add" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
      </div>

      <div class="contenedor-boton-producto">
        <ion-button class="boton-agregar" (click)="agregarProducto()" [disabled]="selector.numeroActual==0">Agregar Producto</ion-button>
      </div>
    </div>


    <!--
    carrito
    -->
    <app-carrito *ngIf="banderaBarra"></app-carrito>

  </div>

</ion-content>

<!--

  -->
