ion-content {
//    --overflow: hidden;
}

ion-toolbar{
  --background: #c9ccf0;
}

/* barra-buscar */

.barra-buscar{
  background: white;
  width: 15%;
  margin-left: 2%;
  border-radius: 9px;
  color: #252526;
  display: flex
}

.boton-lupa{
  margin-top: 15px;
  height: 10px;
  margin-left: 25%;
}

.barraLarga{
  width: 20%;
}

.icono-seleccionado{
  color: white;
}

.icono-deseleccionado{
  color: #ebebeb;
}

::-webkit-scrollbar {
  width: 8px;
  margin-top: 2% !important;
  margin-right: 2%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contenedor{
  width: 100%;
  display: flex;
}

.contenedor-principal{
  width: 100%;
  background: #fafafe;
  height: 100vh;
  overflow-y: auto;
}

/* Lista de Productos */

.logo {
    width: 100%;
    margin: 0 auto;
  }

  q {
    font-style: italic;
    quotes: "« " " »";
  }

  .card {
    margin-top: 2%;
    height: 230px;
    width: 200px;
    background: #f8e5e9;
    border-radius: 10px;
  }

  .containerCard{
      height: 250px;
      width: 215px;
      margin-left: 10px !important;
      padding-right: 10px !important;
      padding-left: 10px !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      display: inline-flex;
  }

  .cursos{
    width: 90%;
    margin: 0 auto;
    text-align: center
    }

  .imagen{
    width: 40%;
    margin-left: 0%;
  }

  .numero-abajo{
    color:#f5f5f5;
  }

/* Producto */
app-carrito{
  width: 60%;
}

.slide{
  display: block;
}

.contenedor-textos-titulos{
  width: 100%;
  display: flex;
}

.titulo-producto{
  width: 92%;
  font-size: 27px;
  padding-left: 8%;
}

.precio-producto{
  width: 82%;
  padding-left: 18%;
  font-size: 27px;
}

.codigo-producto{
  font-size: 21px;
  width: 92%;
  padding-left: 8%;
  font-weight: 300;
}

.contenedor-estrellas{
  width: 60%;
  margin-left: 10%;
}
.item-estrellas{
  --background: #fafafe;
}

.badge-estrella{
  padding-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 2px;
  background: red;
}

.descripcion-producto{
  font-size: 21px;
  width: 92%;
  padding-left: 8%;
  font-weight: 300;
}

.descripcion-cantidad{
  font-size: 21px;
  text-align: center;
  font-weight: 300;
}

.card-producto{
  width: 80%;
  margin-left: 8%;
  border-radius: 15px;
  background: #c9ccf0;
}

.contenedor-imagen-producto{
  width: 100%;
}

.imagen-producto{
  width: 250px;
  margin-left: calc((100% - 250px)/2);
}

.selector{
  display: flex;
  width: 30%;
  margin-left: 35%;
}

.boton-izquierdo{
  width: 100%;
  background: #ffd3dc;
  border-radius: 200px;
}

.numero-actual{
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.boton-derecho{
  width: 100%;
  background: #ffd3dc;
  border-radius: 200px;
}

.contenedor-boton-producto{
  padding-bottom: 15%;
}

.boton-agregar{
  --background: #c9ccf0;
  --background-activated:#c9ccf0;
  --background-focused:#c9ccf0;
  --background-hover:#c9ccf0;
  width: 50% !important;
  margin-left: 25% !important;
  margin-top: 5%;
  margin-bottom: 2%;
}

  .contenedor-categorias{
    margin-left: 55%;
    width: 40%;
    height: 50vh;
    position: fixed;
    background: #fafafa;
    overflow-y: auto;
    z-index: 99;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    ion-toolbar{
      --background: #c9ccf0;
      //--background: #f8e5e9;
      color: white;
    }
  }

  .texto-categorias{
    color: white;
    margin-left: 3%;
    font-size: 22px;
  }

  .contenedor-etiquetas{
    margin-top: 2.5%;
    width: 95%;
    height: 90%;
    margin-left: 2.5%;
    background: white;
    border-radius: 4px;
    margin-bottom: 2.5%;

  }

  .item-etiquetas{
    width: 95%;
    margin-bottom: 3%;
    padding-top: 3%;
    margin-left: 2.5%;
  }

  .etiqueta{
    background: #c9ccf0;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 15px;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
  }


  .boton{
    cursor: pointer;
    background: #c9ccf0;
    width: 60%;
    margin-left: 20%;
    border-radius: 200px;
  }

  .contenedor-boton-categoria{
    margin-bottom: 2.5%;
  }

  .boton-categoria{
    background: #c9ccf0;
    text-align: center;
  }

/* lado derecho */


  ion-avatar{
    background: #c9ccf0;
    text-align: center;

    ion-label{
      margin-top: 30%;
    }
  }

  .item-final{
    padding-bottom: 30vh;
  }

  .contenedor-footer{
    position: relative;
    width: 100%;
  }

  .footer{
    width: 38% !important;
    background: white; //ojo aqui
    position: fixed !important;
    z-index: 2 !important;
    height: 30%;
    top: 70%;
  }

  .badge-indicador{
    --background: #c9ccf0;
    margin-left: 3%;
    padding: 1%;
  }

  .boton-producto{
    width: 35px;
    height: 35px;
    background: #ffd3dc;
  }

  .contenedor-boton{
    width: 100%;
  }

  .boton-pago{
    --background: #c9ccf0;
    --background-activated:#c9ccf0;
    --background-focused:#c9ccf0;
    --background-hover:#c9ccf0;
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .calculadora{
    background: white;
    position: fixed;
    width: inherit;
    top: 0%;
    margin-top: 5%;
    height: 95%;
    z-index: 3 !important;
    animation: subir .5s ease-in;
  }

  .card-total{
    width: 50%;
    margin-left: 5%;
    border-radius: 10px;
    background: #c9ccf0;
  }

  .titulo-total{
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    color: white;
  }

  .valor-total{
    text-align: center;
    padding-top: 5%;
    font-style: 38px;
    padding-bottom: 5%;
    color: white;
  }

  .contenedor-boton-calculadora{
    display: flex;
    margin-top: 5%;

    ion-avatar{
      margin-left: 6%;
      width: 48px;
      height: 48px;
      text-align: center;

      h1{
        margin-top: 13px;
        font-size: 16px;
      }
    }

    ion-avatar:hover{
      transform: scale(1.1);
      cursor: pointer;
    }

    .boton-elemento{
      margin-left: 6%;
      width: 48px;
      height: 48px;
      text-align: center;
      background: #f8e5e9;

      h1{
        margin-top: 13px;
        font-size: 16px;
      }
    }

    .icono-calculadora{
      margin-top: 12px;
      height: 23px;
      width: 23px;
    }

  }

  .boton-descuento{
    --background: #c9ccf0;
    --background-activated:#c9ccf0;
    --background-focused:#c9ccf0;
    --background-hover:#c9ccf0;
    width: 45% !important;
    margin-left: 8% !important;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  @keyframes subir{
    from{
      transform: translateY(100%);
    }
    to{
      transform: translateY(0%);
    }
  }

  .celular{
    display: none;
  }

  .escritorio{
    display: block;
  }

@media (max-width:900px){
  .celular{
    display: block;
  }

  .escritorio{
    display: none;
  }

  .contenedor{
    display: absolute;
  }

  /* barra-buscar */

  .barra-buscar{
    background: white;
    margin-left: 5%;
    width: 60%;
    border-radius: 9px;
    color: #252526;
  }
  /* producto */

  .selector{
    display: flex;
    width: 60%;
    margin-left: 20%;
  }

  .contenedor-boton-producto{
    margin-top: 5%;
    padding-bottom: 20%;
  }

  .boton-agregar{
    --background: #c9ccf0;
    --background-activated:#c9ccf0;
    --background-focused:#c9ccf0;
    --background-hover:#c9ccf0;
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  /* parte derecha */

  .contenedor-lateral{
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100% !important; /* Full width */
     height: 100% !important; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     z-index: 999 !important;
     background: white;
     animation: subir 0s ease-in;
  }

  .item-final{
    padding-bottom: 30vh;
  }

  .contenedor-footer{
    position: relative;
    width: 100%;
  }

  .footer{
    width: 100% !important;
    background: white; //ojo aqui
    position: fixed !important;
    z-index: 2 !important;
    height: 30%;
    top:70%;
  }

  .contenedor-boton{
    width: 100%;
  }

  .boton-pago{
    --background: #c9ccf0;
    --background-activated:#c9ccf0;
    --background-focused:#c9ccf0;
    --background-hover:#c9ccf0;
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .calculadora{
    background: white;
    position: fixed;
    width: 100%;
    top: 0%;
    margin-top: 0%;
    height: 100%;
    z-index: 3 !important;
    animation: subir .5s ease-in;
  }

  .card-total{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    background: #c9ccf0;
  }

  .contenedor-botones-calculadora{
    width: 100%;
  }

  .contenedor-boton-calculadora{
    display: flex;
    margin-top: 10%;

    ion-avatar{
      margin-left: 9.5%;
      width: 48px;
      height: 48px;
      text-align: center;

      h1{
        margin-top: 13px;
        font-size: 16px;
      }
    }

    ion-avatar:hover{
      transform: scale(1.1);
      cursor: pointer;
    }

    .boton-elemento{
      margin-left: 9.5%;
      width: 48px;
      height: 48px;
      text-align: center;
      background: #f8e5e9;

      h1{
        margin-top: 13px;
        font-size: 16px;
      }
    }

    .icono-calculadora{
      margin-top: 12px;
      height: 23px;
      width: 23px;
    }

  }

  .boton-descuento{
    --background: #c9ccf0;
    --background-activated:#c9ccf0;
    --background-focused:#c9ccf0;
    --background-hover:#c9ccf0;
    width: 80% !important;
    margin-top: 15%;
    margin-left: 10% !important;
    padding-top: 0%;
    padding-bottom: 0%;
  }

  .contenedor-categorias{
    margin-left: 0%;
    width: 100%;
    height: 50vh;
    position: fixed;
    background: #fafafa;
    overflow-y: auto;
    z-index: 99;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    ion-toolbar{
      --background: #c9ccf0;
      //--background: #f8e5e9;
      color: white;
    }
  }

  @keyframes subir{
    from{
      transform: translateY(100%);
    }
    to{
      transform: translateY(0%);
    }
  }
}
